<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="loginAction" class="lnyswz.hk.action.LoginAction" scope="prototype">
		<property name="userService" ref="userService" />
	</bean>
	<bean id="logoutAction" class="lnyswz.hk.action.LogoutAction" scope="prototype">
	</bean>
	<bean id="sxkhAction" class="lnyswz.hk.action.SxkhAction" scope="prototype">
		<property name="sxkhService" ref="sxkhService" />
		<property name="xsmxService" ref="xsmxService" />
	</bean>
	<bean id="xsmxAction" class="lnyswz.hk.action.XsmxAction" scope="prototype">
		<property name="xsmxService" ref="xsmxService" />
		<property name="sxkhService" ref="sxkhService" />
		<property name="hkmxService" ref="hkmxService" />
	</bean>
	<bean id="hkmxAction" class="lnyswz.hk.action.HkmxAction" scope="prototype">
		<property name="hkmxService" ref="hkmxService" />
	</bean>
	<bean id="hkmxLogAction" class="lnyswz.hk.action.HkmxLogAction" scope="prototype">
		<property name="hkmxLogService" ref="hkmxLogService" />
		<property name="hkmxService" ref="hkmxService" />
	</bean>
	
</beans>

