<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<!-- Service Setup -->
	<bean id="userService" class="lnyswz.hk.service.impl.UserServiceImpl">
    	<property name="userDAO" ref="userDAO" />
    </bean>
    <bean id="sxkhService" class="lnyswz.hk.service.impl.SxkhServiceImpl">
    	<property name="sxkhDAO" ref="sxkhDAO" />
    </bean>
    <bean id="xsmxService" class="lnyswz.hk.service.impl.XsmxServiceImpl">
    	<property name="xsmxDAO" ref="xsmxDAO" />
    </bean>
	<!-- DAO Setup -->
	<bean id="userDAO" class="lnyswz.hk.dao.impl.UserDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />        
    </bean>
    <bean id="sxkhDAO" class="lnyswz.hk.dao.impl.SxkhDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />        
    </bean>
    <bean id="xsmxDAO" class="lnyswz.hk.dao.impl.XsmxDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />        
    </bean>
        
</beans>

